---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import notFound from "../assets/images/not-found.svg";
import Button from "../components/Button.astro";

const meta = {
  title: "404 error",
  description: "Page not found!",
};
---

<Page>
  <Head slot="head" {meta} />
  <!-- Full body element start -->

  <main
    class=":uno: container mxa my-24 py-24 px-8 z-10 relative md:my-0 lg:my-12 lg:px-24 2xl:my-36"
  >
    <div
      class=":uno: flex flex-col mxa max-w-full flex-shrink-0 gap-x-2 gap-y-4 place-content-center items-center md:flex-row"
    >
      <div class=":uno: flex place-content-center items-center">
        <!-- <Picture
          class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
          src={notFound}
          widths={[300, 450, 600]}
          sizes="(max-width:768px) 300px, (max-width:1024px) 450px, 600px"
          aspectRatio={1.83}
          alt="404 Page not found!"
          role="img"
        /> -->
        <picture>
          <source media="(max-width:768px)" srcset={notFound.src} width="300" />
          <source
            media="(max-width:1024px)"
            srcset={notFound.src}
            width="450"
          />
          <img
            src={notFound.src}
            class={":uno: h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="600"
            alt="404 Page not found!"
            role="img"
          />
        </picture>
      </div>
      <div
        class=":uno: flex flex-col space-y-4 p-4 place-content-center items-center"
      >
        <div class=":uno: font-display text-f-3xl text-center fw700">
          <span>Sorry we couldn't find this page.</span>
        </div>
        <div class=":uno: text-center text-lg">
          <span
            >But don't worry, you can find plenty of other things on our
            homepage.</span
          >
        </div>
        <Button href="/" color="bg-crimson-9 hover:bg-crimson-10">
          Back to Home
        </Button>
      </div>
    </div>
  </main>
  <!-- Full body element end -->
</Page>
