---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/WorkHero.astro";
import mangesh from "../assets/images/mangesh.png";
import mangeshFull from "../assets/images/mangesh-lg.png";
import Modal from "../components/Modal.astro";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Image } from "astro:assets";

const meta = {
  title: "Mangesh Thombare",
  description: "Portfolio website for a game designer.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class=":uno: container mxa py-6 px-8 md:py-24 md:px-0 lg:py-12"
  >
    <div
      class=":uno: container min-h-full space-y-12 my-2 text-left leading-relaxed px-4 lg:px-8"
    >
      <div
        id="pagination"
        class=":uno: flex flex-wrap space-x-2 rounded-1 shadow-md p-4 items-center bg-radixgray-2 border border-radixgray-6"
      >
        <a
          href="/"
          class=":uno: hover:transition-all hover:ease hover:text-radixcrimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-radixgray-7"
          tabindex="0">Home</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="/work/#content-wrapper"
          class=":uno: hover:transition-all hover:ease hover:text-radixcrimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-radixgray-7"
          tabindex="0">Work</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="#"
          class=":uno: focus:outline-none focus:border-b-4 focus:border-radixgray-7"
          tabindex="0">Mangesh Thombare</a
        >
      </div>

      <div class=":uno: font-display my-6 text-f-xl fw600">
        Mangesh
        <span class=":uno: text-radixcyan-11"> Thombare</span>
      </div>
      <div class=":uno: flex flex-col items-start md:flex-row">
        <div
          class=":uno: flex border-2 border-radixgray-6 flex-shrink-0 shadow-lg my-4 mx-2 md:w-1/2 lg:w-auto"
        >
          <Image
            class=":uno: h-auto object-contain w-full dark:filter dark:brightness-75 dark:contrast-125"
            src={mangesh}
            alt="Mangesh Thombare"
            role="img"
            width={480}
            height={270}
          />
        </div>

        <div class=":uno: flex flex-col space-y-4 my-4 px-2 md:pl-6">
          <p>
            This was a portfolio website project for a game designer. His
            requirements were a responsive website that showcased his CV,
            embedded videos, documents of his completed projects, and lastly, a
            contact form.
          </p>

          <ul class=":uno: list-inside list-decimal">
            <li>Portfolio website.</li>
            <li>Responsive design.</li>
            <li>Embedded videos and documents.</li>
            <li>Modal for images.</li>
          </ul>

          <div class=":uno: self-start">
            <ButtonIcon
              hue="hue-radixcyan"
              id="modal3-trigger"
              iconClass="w-5 h-5 mr-2 text-current i-solar:full-screen-square-line-duotone"
            >
              Screenshot
            </ButtonIcon>
          </div>
        </div>
      </div>
      <div
        class=":uno: bg-radixgray-2 border rounded-md border-radixgray-7 shadow-md p-6 gap-4"
      >
        <div class="flex flex-col items-center md:items-start gap-6">
          <div class="md:ml-6">
            <div
              class=":uno: rounded-full flex self-start shrink-0 mxa border-radixgray-6 border-2 h-28 w-28 items-center justify-center"
            >
              <span
                class=":uno: h-16 w-16 i-solar:user-hand-up-bold-duotone"
                role="none"></span>
            </div>
          </div>

          <span
            class=":uno: shrink-0 self-start h-10 text-radixcrimson-9 w-10 i-ph:quotes-duotone md:h-12 md:w-12"
            role="none"></span>

          <div class=":uno: space-y-3 px-4 md:px-8">
            <p>
              Akshay designed my portfolio website. The best part about working
              with him was that, I got a site fully customized and tailored to
              my needs. It is easy to navigate and works seamlessly on all
              platforms mobiles, tablets or PCs. When certain changes had to be
              made, they were delivered with precision within 24 hours of
              request. He has the patience to work at your pace every step of
              the way. You can have a fully personalized experience at an
              affordable price. It has been a pleasure working with Akshay.
            </p>

            <p class=":uno: text-right fw600">- Mangesh Thombare</p>
          </div>
          <div class=":uno: shrink-0 self-end">
            <span
              class=":uno: h-10 text-radixcrimson-9 w-10 i-ph:quotes-duotone md:h-12 md:w-12"
              role="none"></span>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Modal triggerId="modal3-trigger" title="Mangesh Thombare">
    <div class=":uno: mt-3 grid place-content-center">
      <!-- <Picture
        class=":uno: dark:filter dark:brightness-75 dark:contrast-125"
        src={mangeshFull}
        alt="Mangesh Thombare Full Image"
        widths={[300, 450, 600]}
        sizes="(max-width: 768px) 300px, (max-width: 1024px) 450px, 600px"
        aspectRatio={1.24}
      /> -->
      <picture>
        <source
          media="(max-width:768px)"
          srcset={mangeshFull.src}
          width="300"
        />
        <source
          media="(max-width:1024px)"
          srcset={mangeshFull.src}
          width="450"
        />
        <img
          src={mangeshFull.src}
          class={":uno: h-auto dark:filter dark:brightness-75 dark:contrast-125"}
          width="600"
          alt="Mangesh Thombare Full Image"
          role="img"
        />
      </picture>
    </div>
  </Modal>
</Page>
