---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import message from "../assets/images/mail.svg";
import Button from "../components/Button.astro";

const meta = {
  title: "Thanks",
  description: "Greetings, I received your email.",
};
---

<Page>
  <Head slot="head" {meta} />
  <!-- Full body element start -->

  <main
    class="container mxa py-12 px-8 z-10 relative md:py-0 lg:px-24 2xl:mb-60"
  >
    <div
      class="flex flex-col mxa max-w-full gap-x-2 place-content-center items-center md:flex-row"
    >
      <div class="flex py-12 md:py-24 px-8 place-content-center items-center">
        <!-- <Picture
          class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
          src={Mail}
          widths={[200, 300, 400]}
          sizes="(max-width:768px) 200px, (max-width:1024px) 300px, 400px"
          aspectRatio={1.11}
          alt="Message Sent"
          role="img"
        /> -->
        <picture>
          <source media="(max-width:768px)" srcset={message.src} width="200" />
          <source media="(max-width:1024px)" srcset={message.src} width="300" />
          <img
            src={message.src}
            class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="400"
            alt="Message Sent"
            role="img"
          />
        </picture>
      </div>
      <div class="flex flex-col p-4 place-content-center items-center">
        <div class="font-display text-f-3xl fw700">
          <span>Thanks !!</span>
        </div>
        <div class="mt-4 text-center text-f-lg">
          <p>Your message was sent successfully.</p>
          <p>I will get back to you as soon as possible.</p>
        </div>
        <a href="/" class="btn-teal mt-4"> Back to Home</a>
      </div>
    </div>
  </main>
  <!-- Full body element end -->
</Page>
