---
// Component Imports
import Layout from "../layouts/PageLayout.astro";
import Hero from "../layouts/WorkHero.astro";
import captivatingJourneys from "../images/captivating-journeys.png";
import ensys from "../images/ensys.png";
import mangesh from "../images/mangesh.png";
import photoRetouch from "../images/photo-retouch.png";
import airClub from "../images/airclub.png";
import posimind from "../images/posimind.png";
import saptarshi from "../images/saptarshi.png";
import Card from "../components/Card.astro";
import OldCard from "../components/OldCard.astro";

const meta = {
  title: "Work",
  description: "This page lists some of the projects I have worked on.",
};
---

<Layout {meta}>
  <Hero />
  <div
    id="content-wrapper"
    class="container mx-auto px-8 md:px-0 py-6 md:py-24 dark:bg-dark-900 dark:text-white"
  >
    <div class="container leading-relaxed">
      <div class="space-y-12">
        <h3 class="mx-3 my-5 text-5xl font-bold text-center font-display">
          Work
        </h3>
        <div class="flex flex-wrap justify-center gap-8 place-content-center">
          <Card
            imagepath={captivatingJourneys}
            title="Captivating Journeys"
            feature1="- Travel website."
            feature2="- Responsive design."
            feature3="- Responsive slideshow."
            target="/captivating-journeys/#content-wrapper"
          />

          <Card
            imagepath={ensys}
            title="Ensys Engineers"
            feature1="- Local business website."
            feature2="- Responsive design."
            feature3="- Image slider."
            feature4="- Contact form with map."
            target="/ensys-engineers/#content-wrapper"
          />

          <Card
            imagepath={mangesh}
            title="Mangesh Thombare"
            feature1="- Portfolio website."
            feature2="- Responsive design."
            feature3="- Embedded videos and documents."
            feature4="- Modal for images."
            target="/mangesh-thombare/#content-wrapper"
          />
        </div>

        <div
          class="m-12 text-4xl font-semibold border-b-4 font-display border-geraldine-600"
        >
          Old Projects
        </div>

        <div class="flex flex-row flex-wrap gap-8 place-content-center">
          <OldCard
            imagepath={photoRetouch}
            fulltitle="Photo Retouch"
            title="Photo"
            subtitle="Retouch"
            feature1="- Photo studio website."
            feature2="- Non-responsive design."
            feature3="- Image slideshow."
          />

          <OldCard
            imagepath={airClub}
            fulltitle="Air Club"
            title="Air"
            subtitle="Club"
            feature1="- Responsive design."
            feature2="- Image slider."
            feature3="- Multiple color variations."
          />

          <OldCard
            imagepath={posimind}
            fulltitle="Posimind"
            title="Posimind"
            feature1="- Local business website."
            feature2="- Non-responsive design."
            feature3="- Customized contact forms."
          />

          <OldCard
            imagepath={saptarshi}
            fulltitle="Saptarshi"
            title="Saptarshi"
            feature1="- Responsive design."
            feature2="- Image slider."
            feature3="- Scrolling header."
            feature4="- Embedded map."
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
