---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/WorkHero.astro";
import captivatingJourneys from "../assets/images/captivating-journeys.png";
import ensys from "../assets/images/ensys.png";
import mangesh from "../assets/images/mangesh.png";
import photoRetouch from "../assets/images/photo-retouch.png";
import airClub from "../assets/images/airclub.png";
import posimind from "../assets/images/posimind.png";
import saptarshi from "../assets/images/saptarshi.png";
import Card from "../components/Card.astro";
import OldCard from "../components/OldCard.astro";

const meta = {
  title: "Work",
  description: "This page lists some of the projects I have worked on.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <div id="content-wrapper" class=":uno: container mxa py-12 px-8 md:px-0">
    <div class=":uno: mxa max-w-7xl">
      <div class=":uno: space-y-12">
        <h3 class=":uno: font-display my-5 mx-3 text-f-2xl text-center fw700">
          Projects
        </h3>
        <div
          class=":uno: grid pt-12 gap-8 grid-cols-1 place-content-center place-items-stretch sm:grid-cols-2 lg:grid-cols-3"
        >
          <Card
            imagepath={captivatingJourneys}
            title="Captivating Journeys"
            feature1="- Travel website."
            feature2="- Responsive design."
            feature3="- Responsive slideshow."
            target="/captivating-journeys/#content-wrapper"
          />

          <Card
            imagepath={ensys}
            title="Ensys Engineers"
            feature1="- Local business website."
            feature2="- Responsive design."
            feature3="- Image slider."
            feature4="- Contact form with map."
            target="/ensys-engineers/#content-wrapper"
          />

          <Card
            imagepath={mangesh}
            title="Mangesh Thombare"
            feature1="- Portfolio website."
            feature2="- Responsive design."
            feature3="- Embedded videos and documents."
            feature4="- Modal for images."
            target="/mangesh-thombare/#content-wrapper"
          />
        </div>

        <h3
          class=":uno: font-display border-b-4 border-radixcrimson-9 m-12 text-f-xl fw600"
        >
          Old Projects
        </h3>

        <div
          class=":uno: grid pt-12 gap-16 grid-cols-1 place-items-stretch sm:grid-cols-2 lg:grid-cols-3"
        >
          <OldCard
            imagepath={photoRetouch}
            fulltitle="Photo Retouch"
            title="Photo"
            subtitle="Retouch"
            feature1="- Photo studio website."
            feature2="- Non-responsive design."
            feature3="- Image slideshow."
          />

          <OldCard
            imagepath={airClub}
            fulltitle="Air Club"
            title="Air"
            subtitle="Club"
            feature1="- Responsive design."
            feature2="- Image slider."
            feature3="- Multiple color variations."
          />

          <OldCard
            imagepath={posimind}
            fulltitle="Posimind"
            title="Posimind"
            feature1="- Local business website."
            feature2="- Non-responsive design."
            feature3="- Customized contact forms."
          />

          <OldCard
            imagepath={saptarshi}
            fulltitle="Saptarshi"
            title="Saptarshi"
            feature1="- Responsive design."
            feature2="- Image slider."
            feature3="- Scrolling header."
            feature4="- Embedded map."
          />
        </div>
      </div>
    </div>
  </div>
</Page>
