---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import ButtonIcon from "./ButtonIcon.astro";
import { Image } from "@astrojs/image/components";
---

<div
  class="grid max-w-sm grid-rows-2 overflow-hidden bg-white border border-gray-200 rounded-md shadow-md dark:border-dark-600 dark:bg-dark-700 hover:filter hover:drop-shadow-lg"
>
  <div class="flex flex-initial p-6">
    <Image
      class="object-cover w-auto h-auto border-b-2 shadow-lg dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
    />
  </div>
  <div class="grid grid-cols-1 py-4 gap-y-4 place-content-center">
    <div class="text-3xl font-semibold text-center font-display">{title}</div>
    <ul class="pl-6">
      <li>{feature1}</li>
      <li>{feature2}</li>
      <li>{feature3}</li>
      <li>{feature4}</li>
    </ul>
    <div class="grid pr-5 place-content-end">
      <ButtonIcon
        href={target}
        color="bg-green-700 hover:bg-green-600 dark:bg-green-400 dark:hover:bg-green-500 py-2"
        iconName="icon-arrow"
        iconClass="w-4 h-4 mr-2 text-current">Details</ButtonIcon
      >
    </div>
  </div>
</div>
