---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import { Image } from "astro:assets";
---

<section
  class="bg-radixgray-2 border rounded-xl flex flex-col h-full border-radixgray-6 shadow-md relative overflow-hidden group hover:-translate-y-2 hover:duration-300 hover:drop-shadow-xl hover:filter"
>
  <div class="flex flex-initial">
    <Image
      class="h-auto object-cover border-b-2 w-full dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
      role="img"
    />
  </div>
  <div class="flex flex-col py-4 gap-y-4 grow">
    <h4 class="font-display text-f-lg text-center fw600">{title}</h4>
    <ul class="pl-6">
      <li>{feature1}</li>
      <li>{feature2}</li>
      <li>{feature3}</li>
      <li>{feature4}</li>
    </ul>

    <a
      href={target}
      class="mr-5 self-end group hover:ring-4 hover:ring-radixcrimson-6 hover:ring-offset-2 hover:ring-offset-radixgray-2 rounded-md focus:outline-none focus:ring-4 focus:ring-radixcrimson-6 focus:ring-offset-radixgray-2 focus:ring-offset-4"
      >Details
      <span class="h-7 mr-2 text-current w-7 i-solar:recive-square-line-duotone"
      ></span>
      <span class="top-0 right-0 bottom-0 left-0 absolute"></span>
    </a>
  </div>
</section>
