---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import { Image } from "@astrojs/image/components";
---

<section
  class="bg-white border rounded-xl flex flex-col h-full border-gray-200 shadow-md relative overflow-hidden group dark:bg-dark-700 dark:border-dark-600 hover:-translate-y-2 hover:duration-300 hover:drop-shadow-xl hover:filter"
>
  <div class="flex flex-initial">
    <Image
      class="h-auto object-cover border-b-2 w-full dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
      width={480}
      height={270}
    />
  </div>
  <div class="flex flex-col py-4 gap-y-4 grow">
    <div class="font-display text-f-lg text-center fw600">{title}</div>
    <ul class="pl-6">
      <li>{feature1}</li>
      <li>{feature2}</li>
      <li>{feature3}</li>
      <li>{feature4}</li>
    </ul>

    <a
      href={target}
      class="mr-5 self-end group-hover:border-emerald group-hover:border-b-4"
      >Details
      <span class="h-7 mr-2 text-current w-7 i-bx-chevron-right-circle"></span>
      <span class="top-0 right-0 bottom-0 left-0 absolute"></span>
    </a>
  </div>
</section>
