---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import { Image } from "astro:assets";
---

<section
  class="bg-white border-t-10 border-t-teal-9 pb-4 dark:bg-slateDark-1 border rounded-md h-full border-slate-6 dark:border-slateDark-6 shadow-md relative overflow-hidden group ease-in hover:ease-out hover:shadow-xl duration-200"
>
  <div class="flex flex-col justify-between gap-4">
    <Image
      class="h-auto object-cover border-b-2 w-full dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
      role="img"
    />
    <div class="flex flex-col gap-4">
      <h4
        class="font-display text-f-lg text-slate-11 dark:text-slateDark-11 text-center fw600"
      >
        {title}
      </h4>
      <ul
        class="p-6 bg-slate-2 dark:bg-slateDark-2 text-slate-10 dark:text-slateDark-10 min-h-20 md:min-h-43"
      >
        <li>{feature1}</li>
        <li>{feature2}</li>
        <li>{feature3}</li>
        <li>{feature4}</li>
      </ul>
    </div>
    <a
      href={target}
      class="px-6 py-2 bg-slate-1 dark:bg-slateDark-1 border-1 border-slate-6 dark:border-slateDark-6 text-center text-sm text-teal-11 dark:text-tealDark-11 uppercase mx-10 rounded-sm hover:bg-slate-3 dark:hover:bg-slateDark-3 ease-in hover:ease-out transition-all duration-200 flex-end"
      >Details</a
    >
  </div>
</section>
