---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import ButtonIcon from "./ButtonIcon.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<section
  class="flex flex-col relative overflow-hidden bg-white border border-gray-200 rounded-xl shadow-md dark:border-dark-600 dark:bg-dark-700 hover:filter hover:drop-shadow-xl hover:-translate-y-2 hover:duration-300 h-full"
>
  <div class="flex flex-initial">
    <Image
      class="object-cover w-full h-auto border-b-2 shadow-lg dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
      width="480"
      height="270"
    />
  </div>
  <div class="flex flex-col grow py-4 gap-y-4">
    <div class="text-2xl font-semibold text-center font-display">{title}</div>
    <ul class="pl-6">
      <li>{feature1}</li>
      <li>{feature2}</li>
      <li>{feature3}</li>
      <li>{feature4}</li>
    </ul>

    <a href={target} class="self-end mr-5"
      >Details<Icon
        name="fe:arrow-right"
        size={24}
        class="inline mr-2 text-current"
      />
      <span class="absolute top-0 right-0 bottom-0 left-0"></span>
    </a>
  </div>
</section>
