---
const { imagepath, title, feature1, feature2, feature3, feature4, target } =
  Astro.props;
import { Image } from "@astrojs/image/components";
---

<section
  class=":uno: bg-gray-2 border rounded-xl flex flex-col h-full border-gray-6 shadow-md relative overflow-hidden group hover:-translate-y-2 hover:duration-300 hover:drop-shadow-xl hover:filter"
>
  <div class=":uno: flex flex-initial">
    <Image
      class=":uno: h-auto object-cover border-b-2 w-full dark:filter dark:brightness-75 dark:contrast-125"
      src={imagepath}
      alt={title}
      width={480}
      height={270}
    />
  </div>
  <div class=":uno: flex flex-col py-4 gap-y-4 grow">
    <div class=":uno: font-display text-f-lg text-center fw600">{title}</div>
    <ul class=":uno: pl-6">
      <li>{feature1}</li>
      <li>{feature2}</li>
      <li>{feature3}</li>
      <li>{feature4}</li>
    </ul>

    <a
      href={target}
      class=":uno: mr-5 self-end group hover:ring-4 hover:ring-crimson-6 hover:ring-offset-2 hover:ring-offset-gray-2 rounded-md"
      >Details
      <span
        class=":uno: h-7 mr-2 text-current w-7 i-solar:recive-square-line-duotone"
      ></span>
      <span class=":uno: top-0 right-0 bottom-0 left-0 absolute"></span>
    </a>
  </div>
</section>
