---
const {
  imagepath,
  fulltitle,
  title,
  subtitle,
  feature1,
  feature2,
  feature3,
  feature4,
} = Astro.props;
import { Image } from "@astrojs/image/components";
---

<section>
  <div class="relative min-w-fit">
    <Image
      src={imagepath}
      alt={fulltitle}
      class="object-cover w-full h-full border border-gray-300 rounded-xl shadow-md dark:border-dark-600 dark:filter dark:brightness-75 dark:contrast-125 hover:filter hover:drop-shadow-lg"
    />
  </div>
  <div class="relative px-8 -mt-16">
    <div
      class="px-6 py-3 rounded-lg shadow-lg bg-gray-50 dark:border-dark-600 dark:bg-dark-700"
    >
      <div class="text-lg font-semibold font-display">
        {title}<span class="text-rose-700 dark:text-rose-400"> {subtitle}</span>
      </div>
      <div>
        <ul class="mt-2 ml-2 text-sm list-inside">
          <li>{feature1}</li>
          <li>{feature2}</li>
          <li>{feature3}</li>
          <li>{feature4}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
