---
import homeHero from "../images/home.svg";
import ButtonIcon from "../components/ButtonIcon.astro";
import ScrollDown from "../components/ScrollDown.astro";
import { Picture } from "@astrojs/image/components";
---

<section class="z-10 relative" id="hero">
  <div class="container mx-auto py-12 md:py-24 lg:py-36 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center text-white leading-relaxed text-f-2xl fw700 md:mt-0"
        >
          Web-o-Reviews
        </h1>
        <h2 class="mt-2 text-f-lg text-center text-white leading-snug fw600">
          Engaging, purposeful, and creative
        </h2>
        <div class="flex mt-8 w-screen place-content-center">
          <ButtonIcon
            href="/work/"
            iconClass="w-6 h-6 fill-current mr-2 i-carbon-template"
            color="bg-geraldine-700 hover:bg-geraldine-600 dark:bg-geraldine-400 dark:hover:bg-geraldine-500"
          >
            Web Design
          </ButtonIcon>
        </div>
      </div>
      <div>
        {
          /*     <img
                 class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
                 src={homeHero}
                 width="630"
                 height="270"
                 alt="Welcome to Web-o-Reviews!"
               />   */
        }
        {
          /*  Current working 
              <img
                class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
                src={homeHero}
                alt="Welcome to Web-o-Reviews!"
              /> */
        }
        {
          /* working for pngs, building too.
        <Picture
          class={"dark:filter dark:brightness-75 dark:contrast-125"}
          src={homeHero}
          widths={[378, 504, 630]}
          sizes="(max-width: 768px) 60vw, (max-width: 1024px) 80vw, 630px"
          aspectRatio={2.33}
          alt="Welcome to Web-o-Reviews!"
        />*/
        }

        {
          /*
        <img
          class="h-auto transform w-[350px] translate-x-25 op0 lg:w-[525px] 2xl:w-[700px] dark:filter dark:brightness-75 dark:contrast-125"
          src={homeHero.src}
          alt="Welcome to Web-o-Reviews!"
          id="HomeHero"
        />
        */
        }
        <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={homeHero}
          widths={[350, 525, 700]}
          sizes="(max-width: 768px) 350px, (max-width: 1024px) 525px, 700px"
          aspectRatio={2.33}
          alt="Welcome to Web-o-Reviews!"
          id="HomeHero"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#HomeHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
